/*--------------------------------------------------------------
# SASS for various custom blocks

1. Program Descriptions
2. Current Snapshot
3. Research Themes
4. Featured Students / Sponsored Mentors
5. Featured project carousel
6. FURI Alumni
7. Life after FURI graph
--------------------------------------------------------------*/

#program-descriptions {}

@include media-breakpoint-up($md) {
	#program-descriptions {
		div[class*="col"] {
			padding: 1rem;
		}
	}
}

@include media-breakpoint-down($md) {
	#program-descriptions {
		margin-top: 4rem;
	}
}


/*--------------------------------------------------------------
2. Current Snapshot
--------------------------------------------------------------*/

#current-snapshot {
	display: block;

	.stat-package {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 1.5em;
		padding: 10px;

		h3 {
			font-size: 1.75rem;
			line-height: 0.95;
			color: $uds-color-base-gray-7;
			font-weight: 700;
			text-align: right;
			margin-right: 20px;

			span {
				display: block;
				color: $uds-color-base-gold;
			}
		}

		.counter {
			font-size: 3.5rem;
			line-height: 0.95;
			color: $uds-color-base-gray-7;
			font-weight: 700;
			align-self: center;
			margin-left: 1rem;
		}
	}
}

/*--------------------------------------------------------------
3. Research Themes
--------------------------------------------------------------*/

#research-themes {
	margin-top: 6rem;
	padding-top: 6rem;
	padding-bottom: 6rem;

	.row-header {
		margin-bottom: 2rem;
	}

	.container {
		background-color: #ffffff;
		padding: 2rem;
	}

	.media {
		margin-bottom: 4rem;

		img {
			width: 5rem;
			height: auto;
		}
	}
}

/*--------------------------------------------------------------
3dot5. Project Graph (Placeholder)
--------------------------------------------------------------*/

#project-graph {
	.chart-placeholder {
		height: 400px;
		width: auto;
		background-image: url("../img/bar-chart-placeholder.png");
		background-size: cover;
		position: relative;
	}

	h2 {
		position: absolute;
		top: 3rem;
		left: 6rem;
	}
}

/*--------------------------------------------------------------
4. Featured Students / Sponsored Mentors
--------------------------------------------------------------*/

#featured-mentors {

	.mentor {
		margin-bottom: $uds-size-spacing-8;

		display: grid;
		grid-template-columns: 180px 1fr;
		grid-template-rows: auto auto;
		grid-column-gap: $uds-size-spacing-8;
		grid-row-gap: $uds-size-spacing-2;

		h3 {
			grid-column: 1 / span 2;
			grid-row: 1;
		}

		img {
			grid-column: 1;
			grid-row: 2;
			border-radius: 100%;
		}


		.featured-mentor-post {
			// The first child p of .mentor should be the excerpt if there's one there.
			// Target subsequent anchor for "Read me" tag and hide it.

			p:first-child>a {
				display: none;
			}

			.read-more {
				display: inline-block;
			}

			// Quote SVG
			svg {
				color: $uds-color-base-gold;
				width: 3rem;
				height: auto;
				grid-column: 1;
				grid-row: 1;
			}
		}
	}

	.cited-degree-program {
		text-transform: lowercase;
	}
}

/*--------------------------------------------------------------
5. Featured project carousel
--------------------------------------------------------------*/
#featured-carousel {
	.carousel {
		.card-symposium {
			position: absolute;
			top: 2rem;
			right: 4rem;
			width: 24rem;
			height: auto;
			animation-name: fadeInRight;
			animation-duration: .65s;
			animation-delay: 1.5s;
		}

		.featured-image {
			animation-name: fadeInLeft;
			animation-duration: .65s;
			animation-delay: 1s;
		}

		.carousel-label {
			position: absolute;
			top: 1rem;
			left: 2rem;
		}

		.carousel-controls {
			position: absolute;
			bottom: 0;
			left: 2rem;
			text-align: left;

			.carousel-indicators {
				position: relative;
				margin: 1rem 0;

				li {
					background-color: $uds-color-base-gray-4;
				}
			}
		}
	}
}

@include media-breakpoint-down($md) {
	#featured-carousel {
		display: none;
	}
}

/*--------------------------------------------------------------
6. FURI Alumni
--------------------------------------------------------------*/
.furi-alumni {
	background-color: #99e4ff;
	/* 80% saturated from ASU Blue. */
	background-image: url("../img/amountain.png");
	background-size: 55%;
	background-position: 100% 108%;
	background-repeat: no-repeat;
	padding: 4rem 0;

	div[class^="col-"] {
		>* {
			padding: .5rem 1rem;
			margin-bottom: 0;
			background-color: rgba(255, 255, 255, 0.85);
		}

		>*:first-child {
			padding-top: 1.5rem;
		}
	}

	h4 {
		margin: 1em 0 1.5em;
	}
}

/*--------------------------------------------------------------
7. Life after FURI graph

// Mobile first, hide graph and inner label on mobile.
// Tablet sizes need further adjustment. (23-Feb-2023)
--------------------------------------------------------------*/
#life-after-furi {
	display: inline;

	#donutchart,
	h4 {
		display: none;
	}

	.distribution {
		font-size: 3em;
		font-weight: 700;

		line-height: 1;
		z-index: 20;

		div {
			margin-left: 0;

			p {
				display: table-cell;
				font-size: 14px;
				background-color: #ffc627;
				color: #222222;
				padding: 5px;
			}
		}
	}
}

@include media-breakpoint-up($md) {

	#life-after-furi {

		display: grid;
		grid-template-columns: auto 27rem;
		grid-template-rows: 1fr 1fr;

		.intro {
			grid-column: 2;
			grid-row: 1;
			z-index: 20;
		}

		.distribution {
			grid-column: 2;
			grid-row: 2;
			align-self: flex-end;
		}

		#donutchart {
			display: block;

			grid-column: 1 / span 2;
			grid-row: 1 / span 2;
			width: 100%;
			min-height: 600px;
			z-index: 10;
		}

		h4 {
			display: block;

			grid-column: 1;
			grid-row: 1 / span 2;
			align-self: center;
			justify-self: center;

			font-size: 3em;
			font-weight: bold;
			line-height: 1;
			z-index: 20;

			span {
				display: block;
				font-size: 6rem;
				line-height: 1;
			}
		}


	}
}

#life-after-furi .block-preview {
	background-image: url(../img/after-furi-placeholder.png);
	background-repeat: no-repeat;
	background-position: 6rem top;
	grid-column: 1;
	grid-row: 1 / span 2;
	width: auto;
	min-height: 550px;

}
