/*--------------------------------------------------------------
# Theme SASS
- Contains styles for blocks, templates and other assets.
--------------------------------------------------------------*/

@import "../src/bootstrap4-theme/sass/design-tokens/variables";
@import 'media-queries';

// Page templates, other partials
@import "_single-participant";
@import "_single-furiproject";
@import "_tax-misc-terms";
@import "_tax-symposium-date";
@import "_symposium";
@import '_blocks';
@import '_snapshot-footer';

// Post templates
@import '_post-questions';

/*--------------------------------------------------------------
1. Baseline grid
--------------------------------------------------------------*/

#page {
	>div {
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
	}
}

/*--------------------------------------------------------------
2. Page spacing
--------------------------------------------------------------*/
.page-template-default {
	.uds-hero+article {
		margin-top: 2rem;
	}
}


@include media-breakpoint-up($lg) {

	.single-participant,
	.single-furiproject,
	.tax-faculty_mentor,
	.tax-industry_sponsor,
	.tax-symposium_date,
	.page-template-fullpage-about {
		#page-wrapper {
			margin-top: calc(1rem + 153px);
		}
	}
}

@include media-breakpoint-up($lg) {
	.page-template-symposium {
		#page-wrapper {
			margin-top: calc(2rem + 153px);
		}
	}
}

/*--------------------------------------------------------------
3. Misc rules.
--------------------------------------------------------------*/

.section-head {
	height: 20px;

	h3 {
		background-color: #222222;
		color: #ffffff;
		font-weight: 700;
		display: inline-block;
		padding: .5rem 1rem;
		margin: 0;
		height: 40px;
	}
}


#additional-projects,
#related-projects {
	background-color: $uds-color-base-gray-2;
	padding: 4rem 0;
}

#additional-projects+#related-projects-title {
	background-color: $uds-color-base-gray-2;
}

// Fix for missing component of the UDS Modal window.
.uds-modal.open {
	z-index: 1050;
	position: fixed;
}