/*--------------------------------------------------------------
Taxonomy Term Page: symposium_date
Taxonomy Term Page: research_theme
Taxonomy Term Page: presentation_type
--------------------------------------------------------------*/
.tax-symposium_date,
.tax-research_theme,
.tax-presentation_type {

	.archive-header {

		padding: $uds-size-spacing-8 0;

		.subtitle {
			// Like an H3, highlight-gold, except no header element for accessibility
			-webkit-box-shadow: -0.15em 0 0 #ffc627, 0.15em 0 0 #ffc627;
			box-shadow: -0.15em 0 0 #ffc627, 0.15em 0 0 #ffc627;
			background: #ffc627;
			color: #191919;

			font-size: 1.5rem;
			font-weight: 700;
			line-height: 1.75rem;
			letter-spacing: -0.0525rem;

			margin-left: .15em;

			display: inline-block;
		}

		h1 {
			margin-top: 0;
		}

		.theme-icon {
			float: right;
			max-width: 300px;
			margin-left: 2rem;
		}
	}

	.uds-section {
		padding: 4rem 0;
	}

	#table-wrapper {

		.dataTables_wrapper {
			.dataTables_info {
				padding: 0.25em 0 0 0.5em;
				width: 49%;
				float: left;
			}

			.dataTables_filter input {
				width: 300px;
			}

			table>thead>tr>th {
				background-color: #8c1d40;
				color: #ffffff;
			}
		}
	}
}

.tax-presentation_type .archive-header {
	padding-right: 16rem;
}

/*--------------------------------------------------------------
Mobile considerations
--------------------------------------------------------------*/

@include media-breakpoint-down($md) {

	// Presentation type
	.tax-presentation_type .archive-header {
		padding-right: 0;
	}

	// Research theme
	.tax-research_theme .archive-header {
		.theme-icon {
			max-width: 64px;
			margin-left: .5rem;
		}
	}

	// Symposium date
	.tax-symposium_date .archive-header {
		padding: 0 0 $uds-size-spacing-2 0;
	}

	// Any of the pages
	.archive .archive-header {

		padding-top: 0;
		padding-bottom: $uds-size-spacing-4;

		.lead {
			font-size: 1rem;
		}
	}

	.archive #table-wrapper .dataTables_wrapper {
		.dataTables_info {
			padding: 0 0 1rem 0;
			width: 100%;
			float: none;
		}

		.dataTables_filter input {
			width: 200px;
		}

		.table {
			font-size: 10px;
		}
	}
}
